.reset {
	margin: 0;
	padding: 0;
	border: none;
}

.center {
	margin: 0 auto;
}

.hide {
	display: none
}

.invert {
	background: black;
  color: white;
}

#exploded-tile-container {
	width: 1000px;
	height: 500px;
}

label {
  clear: both;
  display: flex;
}

label:before {
  content: attr(for) ": ";
}

#color-analysis svg {
    margin-bottom: 30px;
    display: block;
}

#color-analysis svg .axis {
  fill: white;
}

#color-analysis svg .axis path{
  stroke-width: 1px;
  stroke: white;
  fill: none;
}

#color-analysis svg#colorMap rect {
 /* stroke: white;
  stroke-width: 1px;*/
  fill: grey;
}

#color-analysis svg#colorMap rect.highlight {
 /* stroke: white;
  stroke-width: 1px;*/
  fill: white;
}