body {
  font-family: 'Lato', Arial;
}

h1, h2, h2, h4 {
  text-align : center;
}

h1 {
  padding : .4em 0 1em 0;
}

h2 {
  text-decoration: overline;
}

.reset {
	margin: 0;
	padding: 0;
	border: none;
}

.center {
	margin: 0 auto;
}

.hide {
	display: none
}

.invert {
	background: black;
  color: white;
}

form#draw-settings {
  width  : 400px;

}

#exploded-tile-container {
	width: 1000px;
	height: 500px;
}

label {
  clear    : both;
  display  : flex;
  margin   : 10px 25px;
  position : relative;
}

label > input {
  left        : 240px;
  margin-left : 10px;
  position    : absolute;
}

label:before {
  content: attr(for) ": ";
}

#color-analysis svg {
    margin-bottom: 10px;
    display: block;
}

#color-analysis svg text {
    text-anchor: end;
}

#color-analysis svg text, #color-analysis svg .axis {
  fill: white;
}

#color-analysis svg .axis path{
  stroke-width: 1px;
  stroke: white;
  fill: none;
}

#color-analysis svg#colorMap rect {
  fill: grey;
}

#color-analysis svg#colorMap rect.highlight {
  fill: white;
}

#keyboard-event-instructions {
  margin: 0 auto;
  text-align: center;
}
